__pycache__
*.cdxml
*.png
build
*.egg-info
test
.csv
data
dist/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.so
.coverage
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.tgz
*.tar.gz